#slr2SearchElem,
#slr2SearchElem * {
  box-sizing: border-box;
}
#slr2SearchElem {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: -1;
}
#slr2SearchElem.slr2-search--show {
  z-index: 10000;
}
#slr2SearchElem.slr2-search--animate {
  pointer-events: auto;
  opacity: 1;
}
#slr2SearchElem .slr2-search-wrapper {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  background: var(--slr2-color-primary);
  padding: 64px 0;
  height: calc(100vh - 70px);
  -webkit-transition: top 0.3s ease;
  transition: top 0.3s ease;
  z-index: 10;
}
#slr2SearchElem.slr2-search--animate .slr2-search-wrapper {
  top: 0;
}
#slr2SearchElem .slr2-search-container {
  position: relative;
  height: var(--base-size-xxxl, 64px);
  padding: 8px var(--twpx-block-padding-xl, 32px) 8px calc(32px + 22px + 24px);
  border-radius: var(--base-size-xl, 32px);
  border: 1px solid var(--base-grey, #888);
  background: var(--base-balck, #000);
}
#slr2SearchElem .slr2-search-input {
  background: transparent;
  border: 0;
  border-radius: 0;
  display: block;
  height: 48px;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#slr2SearchElem .slr2-search-input:hover,
#slr2SearchElem .slr2-search-input:visited {
  outline: none;
}
#slr2SearchElem .slr2-search-input::placeholder {
  color: #fff;
}
#slr2SearchElem input[type='search']::-webkit-search-cancel-button,
#slr2SearchElem input[type='search']::-webkit-search-decoration,
#slr2SearchElem input[type='search']::-webkit-search-results-button,
#slr2SearchElem input[type='search']::-webkit-search-results-decoration {
  display: none;
}
#slr2SearchElem .slr2-search-icon {
  position: absolute;
  top: 50%;
  left: 32px;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
#slr2SearchElem .slr2-search-clear {
  position: absolute;
  top: 50%;
  right: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
#slr2SearchElem.slr2-search--filled .slr2-search-clear {
  opacity: 1;
  pointer-events: auto;
}
#slr2SearchElem.slr2-search--filled .slr2-search-clear:hover {
  opacity: 0.7;
}

/*Result*/
.slr2-search-result {
  position: absolute;
  top: 32px;
  left: 32px;
  width: calc(100% - 32px * 2);
  max-height: calc(100vh - 70px - 64px - 64px - 32px - 32px);
  overflow-y: auto;
  font-size: 14px;
  font-family: Roboto, roboto_ltregular, arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  background: var(--slr2-color-primary);
  z-index: 100;
}

/* Scrollbar styles */
.slr2-search-result::-webkit-scrollbar {
  width: 8px;
}

.slr2-search-result::-webkit-scrollbar-track {
  background: var(--slr2-color-primary);
  border-radius: 4px;
}

.slr2-search-result::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.slr2-search-result::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.slr2-search-result-item,
.slr2-search-result-page,
.slr2-search-result-all {
  display: grid;
  gap: 16px;
  align-items: center;
  width: 240px;
}
a.slr2-search-result-item,
a.slr2-search-result-page,
a.slr2-search-result-all {
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-search-result-item:hover,
.slr2-search-result-page:hover,
.slr2-search-result-all:hover {
  opacity: 0.7;
}
.slr2-search-result-item span.slr2-search-result-name,
.slr2-search-result-item span.slr2-search-result-price,
.slr2-search-result-page span.slr2-search-result-name,
.slr2-search-result-page span.slr2-search-result-price,
.slr2-search-result-all span.slr2-search-result-name,
.slr2-search-result-all span.slr2-search-result-price {
  display: block;
}
.slr2-search-result-img {
  display: block;
  width: 240px;
  padding-top: 100%;
  background-color: #fff;
  border-radius: var(--base-border-radius-s, 8px);
  overflow: hidden;
  position: relative;
}
.slr2-search-result-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 10;
}
.slr2-search-result-text {
  color: #fff;
  overflow: hidden;
  display: grid;
  gap: 8px;
}
.slr2-search-result b {
  font-weight: bold;
}
.slr2-search-result-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slr2-search-result-price {
  font-size: 16px;
}
.slr2-search-result-all .slr2-search-result-icon,
.slr2-search-result-page .slr2-search-result-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  background-color: #fff;
  border-radius: var(--base-border-radius-s, 8px);
}

@media (max-width: 575px) {
  .slr2-header1__search-icon.slr2--component-loaded {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 0;
    border: none;
  }
  #slr2SearchElem .slr2-search-wrapper {
    padding: var(--twpx-button-padding-m, 16px) 0;
    height: auto;
  }
  #slr2SearchElem.slr2-search--animate .slr2-search-wrapper {
    top: 0;
  }
  #slr2SearchElem .slr2-search-container {
    height: 41px;
    padding: var(--twpx-block-gap-s, 8px);
    padding-left: calc( 8px + 24px + 8px );
    border-radius: var(--twpx-block-padding-xs, 4px);
  }
  #slr2SearchElem .slr2-search-icon {
    left: 8px;
  }
  #slr2SearchElem .slr2-search-input {
    height: 24px;

  }
  /* #slr2SearchElem .slr2-search-wrapper {
    position: relative;
    top: 0 !important;
    padding: 16px;
    height: auto;
    margin-bottom: 16px;
  } */
  .slr2-search-result {
    width: calc(100% - 16px * 2);
    max-height: calc(100vh - 70px - 16px - 64px - 16px - 16px);
    background: var(--slr2-color-primary);
  }
  /* #slr2SearchElem .slr2-search-input {
    padding: 0 48px;
    font-size: 14px;
  }
  #slr2SearchElem .slr2-search-icon {
    top: 16px;
    left: 8px;
  } */
  #slr2SearchElem .slr2-search-clear {
    right: 16px;
  }

  .slr2-search-result {
    top: 10px;
    left: -16px;
    width: 100%;
    padding: 16px;
    gap: 16px;
    justify-content: space-between;
  }
  .slr2-search-result-item, .slr2-search-result-page, .slr2-search-result-all {
    width: calc(50% - 8px);
  }
  .slr2-search-result-img {
    width: 100%;
  }
  .slr2-search-result-text {
    gap: 16px;
  }
  .slr2-search-result-name,
  .slr2-search-result-price {
    font-size: 12px;
  }
}
