.twpx-form-control--text {
  position: relative;
  margin-bottom: var(--twpx-form-control-margin-bottom);
  width: 100%;
}
.twpx-form-control--text.twpx-form-control--active .twpx-form-control__label {
  -webkit-transform: translateY(
    var(--twpx-form-control-active-label-translate)
  );
  transform: translateY(var(--twpx-form-control-active-label-translate));
}
.twpx-form-control--text .twpx-form-control__disabled-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  pointer-events: none;
  z-index: 10;
}
.twpx-form-control--text .twpx-form-control__label {
  position: absolute;
  top: 0;
  left: var(--twpx-form-control-padding-left);
  margin: 0;
  padding: 0;
  color: var(--twpx-form-control-color);
  font-size: var(--twpx-form-control-label-font-size);
  font-family: var(--twpx-form-control-font-family);
  -webkit-transition: -webkit-transform 0.2s ease-out,
    -webkit-font-size 0.2s ease-out;
  transition: transform 0.2s ease-out, font-size 0.2s ease-out;
  -webkit-transform: translateY(var(--twpx-form-control-label-translate));
  transform: translateY(var(--twpx-form-control-label-translate));
  pointer-events: none;
  line-height: 1.1;
}
.twpx-form-control--text.twpx-form-control--invalid .twpx-form-control__label {
  color: var(--twpx-form-control-invalid-color);
}
.twpx-form-control--text .twpx-form-control__input {
  display: block !important;
  width: 100%;
  margin: 0 !important;
  padding: var(--twpx-form-control-padding-top)
    var(--twpx-form-control-padding-right)
    var(--twpx-form-control-padding-bottom)
    var(--twpx-form-control-padding-left) !important;
  color: var(--twpx-form-control-color) !important;
  background-color: var(--twpx-form-control-background) !important;
  border: 1px solid var(--twpx-form-control-border) !important;
  height: var(--twpx-form-control-height) !important;
  border-radius: var(--twpx-form-control-border-radius) !important;
  font-family: var(--twpx-form-control-font-family);
  font-size: var(--twpx-form-control-font-size) !important;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
  outline: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
}
.twpx-form-control--text .twpx-form-control__input:focus,
.twpx-form-control--text .twpx-form-control__input:hover {
  outline: none !important;
  border-color: var(--twpx-form-control-border-active) !important;
}
.twpx-form-control--text.twpx-form-control--invalid .twpx-form-control__input {
  background-color: var(
    --twpx-form-control-invalid-background-color
  ) !important;
  border-color: var(--twpx-form-control-invalid-border-color) !important;
  outline: none !important;
  color: var(--twpx-form-control-invalid-color) !important;
}
.twpx-form-control--text.twpx-form-control--disabled .twpx-form-control__input {
  color: var(--twpx-form-control-disabled-color);
  pointer-events: none;
  background-color: var(
    --twpx-form-control-disabled-background-color
  ) !important;
  border: 1px solid var(--twpx-form-control-disabled-border-color) !important;
}
.twpx-form-control--text.twpx-form-control--disabled .twpx-form-control__label {
  color: var(--twpx-form-control-disabled-color);
}
.twpx-form-control--text .twpx-form-control__warning,
.twpx-form-control--text .twpx-form-control__hint {
  font-size: var(--twpx-form-control-external-hint-font-size);
  margin: var(--twpx-form-control-external-hint-margin);
  line-height: var(--twpx-form-control-external-hint-line-height);
}
.twpx-form-control--text .twpx-form-control__warning {
  color: var(--twpx-form-control-invalid-color);
}
