<link rel="stylesheet" href="./components/profile/style.css" />

<div class="slr2-profile-wrapper">
  <div class="slr2-profile-content">
    <div class="slr2-profile-content__item">
      <a href="">Персональные данные</a>
      <a href="">История заказа</a>
      <a href="">Профили покупателя</a>
      <a href="">Моя корзина</a>
      <a href="">Подписка</a>
    </div>
    <div class="slr2-profile-content__item slr2-profile-content__item--logout">
      <a href="">Выход</a>
    </div>
  </div>
</div>
