<link rel="stylesheet" href="./components/phone/style.css" />

<div class="slr2-phone-wrapper">
  <div class="slr2-phone-popup">
    <img src="./components/phone/clear-icon.svg" alt="" class="slr2-phone-clear">
    <img src="./components/phone/image.png" alt="" class="slr2-phone-img">
    <div class="slr2-phone-text">
      <div class="slr2-phone-close"></div>
      <img src="./components/phone/full-logo.svg" alt="" class="slr2-phone-logo">
      <div class="slr2-phone-tel-main">+7 (985) 928-60-55</div>
      <div class="slr2-phone-store-name">Интернет-магазин</div>
      <div class="slr2-phone-tel">+7 (964) 773-00-14</div>
      <div class="slr2-phone-store-name">Бутик</div>
      <div class="slr2-phone-form">
        <div class="slr2-phone-form__title">Заказать звонок</div>
        <div class="slr2-phone-form__content">
          <input type="text" name="TEL" value="" class="slr2-phone-form__input" placeholder="Ваш номер телефона">
          <input type="sumit" value="Заказать" class="slr2-phone-form__button">
        </div>
      </div>
      <div class="slr2-phone-consent">
        Нажимая кнопку, вы соглашаетесь с <a href="">политикой конфиденциальности</a> и даете <a href="">согласие на обработку персональных данных</a>.
      </div>
    </div>
  </div>
</div>
