<link rel="stylesheet" href="./components/catalog-menu/style.css" />

<div class="slr2-container">
  <div class="slr2-catalog-menu-service-container">
    <a href="" class="slr2-catalog-menu-service-item">
      <span class="slr2-catalog-menu-service-img"><img src="./components/catalog-menu/images/1.png" alt=""></span>
      <span class="slr2-catalog-menu-service-text">Подарочнный сертификат</span>
    </a>
    <a href="" class="slr2-catalog-menu-service-item">
      <span class="slr2-catalog-menu-service-img"><img src="./components/catalog-menu/images/2.png" alt=""></span>
      <span class="slr2-catalog-menu-service-text">Подарочнный сертификат</span>
    </a>
    <a href="" class="slr2-catalog-menu-service-item">
      <span class="slr2-catalog-menu-service-img"><img src="./components/catalog-menu/images/3.png" alt=""></span>
      <span class="slr2-catalog-menu-service-text">Подарочнный сертификат</span>
    </a>
    <a href="" class="slr2-catalog-menu-service-item">
      <span class="slr2-catalog-menu-service-img"><img src="./components/catalog-menu/images/4.png" alt=""></span>
      <span class="slr2-catalog-menu-service-text">Подарочнный сертификат</span>
    </a>
  </div>
</div>
