#slr2CatalogMenuElem,
#slr2CatalogMenuElem * {
  box-sizing: border-box;
}
#slr2CatalogMenuElem.slr2-catalog-menu--show {
  position: static;
  pointer-events: auto;
  opacity: 1;
  z-index: 10000;
}
#slr2CatalogMenuElem .slr2-catalog-menu-wrapper {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: var(--slr2-color-primary);
  color: #fff;
  font-family: robotoregular, arial, sans-serif;
  z-index: 100;
}
.slr2-catalog-menu-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: start;
  padding: var(--twpx-block-padding-xl, 32px);
}
.slr2-catalog-menu-grid-item {
  display: grid;
}
.slr2-catalog-menu-grid-item span {
  display: block;
  height: 24px;
}
.slr2-catalog-menu-grid-sub {
  padding-left: 16px;
  margin-bottom: 15px;
}
.slr2-catalog-menu-h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
.slr2-catalog-menu-grid-item a {
  display: block;
  color: #fff;
  font-size: 14px;
  margin: 4px 0;
  text-decoration: none;
}
.slr2-catalog-menu-grid-item a:last-child {
  margin-bottom: 0;
}

#sellerHeader_1 .bj-page-header__dropdown article strong {
  font-size: 0.9rem;
}

.slr2-catalog-menu-grid-item a {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  opacity: 0;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(1) {
  transition-delay: 0.03s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(2) {
  transition-delay: 0.06s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(3) {
  transition-delay: 0.09s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(4) {
  transition-delay: 0.12s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(5) {
  transition-delay: 0.15s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(6) {
  transition-delay: 0.18s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(7) {
  transition-delay: 0.21s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(8) {
  transition-delay: 0.24s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(9) {
  transition-delay: 0.27s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(10) {
  transition-delay: 0.3s;
}

.slr2-slide-toggle--animate .slr2-catalog-menu-grid-item a:nth-of-type(11) {
  transition-delay: 0.33s;
}

/*Services*/
.slr2-catalog-menu-service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--twpx-block-padding-xl, 32px);
  align-items: flex-start;
  gap: var(--base-size-l, 24px);
}
a.slr2-catalog-menu-service-item {
  text-decoration: none;
  display: grid;
  gap: var(--base-gap-m, 16px);
}
.slr2-catalog-menu-service-img {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}
a.slr2-catalog-menu-service-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
a.slr2-catalog-menu-service-item .slr2-catalog-menu-service-text {
  color: #fff;

  /* default */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
