#kombox-filter{
	margin-top: 0;
    border: 1px solid #e7e8ea;
    position: relative;
    border-radius: 4px;
	padding: 10px 10px 20px 10px;
}
@media(max-width:991px){
	#kombox-filter{
		width:300px;
		position: absolute;
    	z-index: 23;
    	background: #fff;
		box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
		opacity: 0;
		pointer-events: none;
		z-index: -1;
	}
	#kombox-filter.opened{
		opacity: 1;
		pointer-events: auto;
		z-index: 10;
	}
}
#kombox-filter ul{
	list-style: none !important;
	margin:0;
	padding:0 0 20px 0;
}

#kombox-filter .lvl1 {
	position: relative;
	list-style: none !important;
	margin:0;
	padding:0;
	margin-top: 1em;
}

#kombox-filter .lvl1:before, #kombox-filter li:before {
	content: none !important;
}

#kombox-filter .kombox-filter-property-body{
	padding: 10px 0 0 15px;
}

#kombox-filter .lvl2{
	margin:0;
	padding: 2px 0 0 0;
}

#kombox-filter .kombox-filter-property-head {
	zoom: 1;
	padding-left: 19px;
	margin-bottom:5px;
	position: relative;
}

#kombox-filter .kombox-filter-property-i {
	background: url("images/list.gif") no-repeat scroll center -9px rgba(0, 0, 0, 0);
	display: block;
	position: absolute;
	font-size: 1px;
	height: 9px;
	left: 1px;
	cursor: pointer;
	top: 5px;
	width: 9px;
	zoom: 1;
}

#kombox-filter .kombox-closed .kombox-filter-property-i {
	background: url("images/list.gif") no-repeat scroll center top rgba(0, 0, 0, 0);
}

#kombox-filter .kombox-filter-property-name {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 20px;
	font-weight:bold;
	cursor: pointer;
}

#kombox-filter .kombox-num .kombox-input{
	width: 4em;
	margin:0;
}

#kombox-filter .kombox-num .kombox-range{
	padding:10px 10px 10px 0;
}

#kombox-filter .kombox-num .kombox-range input{
	display:none;
}

#kombox-filter div.kombox-combo,
#kombox-filter div.kombox-radio
{
	padding: 5px 0 0 15px;
	margin: 0;
}

#kombox-filter div.kombox-link
{
	padding: 0 0 0 15px;
	margin: 0;
}

#kombox-filter div.kombox-select,
#kombox-filter div.kombox-list
{
	padding: 0;
	margin: 0;
}

#kombox-filter .kombox-select select,
#kombox-filter .kombox-list select
{
	padding: 5px;
	width:100%;
}

#kombox-filter .kombox-combo .lvl2 input,
#kombox-filter .kombox-radio .lvl2 input{
	margin:0;
}

/* #kombox-filter .kombox-combo .lvl2 label, */
/* #kombox-filter .kombox-radio .lvl2 label{ */
	/* padding-left: 7px; */
/* } */

#kombox-filter .kombox-disabled label,
#kombox-filter .kombox-disabled a,
#kombox-filter option.kombox-disabled{
	color: #6f7980;
}

#kombox-filter .kombox-link  .lvl2{
	padding-left: 8px;
	position: relative;
	left: -8px;
}

#kombox-filter .kombox-link .kombox-checked{
	padding-left: 0;
}

#kombox-filter .kombox-link  .lvl2 a{
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #3f454b;
	padding:1px 14px 1px 14px;
	position: relative;
	text-decoration:none;
	display: inline-block;
}
#kombox-filter .kombox-link  .lvl2 a:hover{
	background: #f0f0f0;
}
#kombox-filter .kombox-link .kombox-checked a{
	background: #f0f0f0;
	padding: 1px 22px 1px 8px;
}

#kombox-filter .kombox-link .kombox-checked a:hover{
	border-color: #d42d20;
	background: rgba(252,252,252);
	text-decoration:none;
}

#kombox-filter .kombox-link  .lvl2 a span.kombox-remove-link{
	background: #ffffff url("images/remove_link.png") no-repeat 0 0;
	display: none;
	height: 8px;
	margin-left: 8px;
	position: absolute;
	right: 8px;
	top: 6px;
	width: 8px;
}

#kombox-filter .kombox-link .kombox-checked a span.kombox-remove-link{
	display: inline-block;
}

#kombox-filter .kombox-link .kombox-checked a:hover span.kombox-remove-link{
	background-position: 0 100%;
}

#kombox-filter .kombox-link .kombox-disabled a{
	color: #6f7980 !important;
	border:none;
	text-decoration:line-through;
}

#kombox-filter .kombox-disabled a{
	border:none;
	text-decoration:line-through;
}

#kombox-filter .lvl2 .kombox-cnt{
	color: #6f7980;
	font-size: .85em;
}

#kombox-filter .kombox-disabled .kombox-cnt, .kombox-filter .kombox-checked .kombox-cnt{
	display:none;
}

#kombox-filter .kombox-checked a{
	border:none;
	color:#000;
}

#kombox-filter .kombox-filter-property-body a.kombox-values-other-show,
#kombox-filter .kombox-filter-property-body a.kombox-values-other-hide{
	font-size: .85em;
	display:inline-block;
	margin-top:5px;
	border:0;
}

#kombox-filter .kombox-filter-property-hint{
	cursor: pointer;
	position: relative;
	top: 2px;
	width: 12px;
	height: 12px;
	margin-left:5px;
	display: inline-block;
	background: rgba(0, 0, 0, 0) url(images/hint.gif) no-repeat right center;
}

#kombox-filter .kombox-filter-property-hint-text{
	display:none;
}

.kombox-filter-hint{
	padding:5px 10px 5px 5px;
	max-width: 500px;
}

#kombox-filter .modef {
	background: transparent url('images/modef.gif') no-repeat right center;
	top: -4px;
	position: absolute;
	padding-right:5px;
	z-index:1000;
}

#kombox-filter .modef-right {
	background: transparent url('images/modef-right.gif') no-repeat left center;
	padding-left:5px;
}

#kombox-filter .modef .modef-wrap {
	background-color:#fff;
	border: 1px solid #ffea94;
	border-right:none;
	color: #3F3F3F;
	padding: 5px 25px 5px 10px;
	white-space: nowrap;
}

#kombox-filter .modef-right .modef-wrap {
	border: 1px solid #ffea94;
	border-left:none;
}

#kombox-filter .kombox-loading {
	position:absolute;
	z-index:100;
	left:0;
	top:0;
	background:transparent url(images/loading.png) repeat center;
	display:none;
}

a.kombox-del-filter{
	display:inline-block;
	margin-left:10px;
}

.kombox-filter-choice{
	overflow: hidden;
	padding: 5px 0 20px 0;
}


.kombox-filter-choice ul{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.kombox-filter-choice li{
	float: left;
    border: 1px solid #e7e7e7;
	border-right:0;
    border-radius: 0;
    color: #3f454b;
    padding: 5px 25px 5px 15px;
    position: relative;
    text-decoration: none;
}

.kombox-filter-choice li:last-child{
    border-radius: 0 5px 5px 0;
    padding: 5px 25px 5px 15px;
	border: 1px solid #e7e7e7;
}

.kombox-filter-choice li:first-child{
    border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
    padding: 5px 25px 5px 15px;
	border-left: 1px solid #e7e7e7;
}

.kombox-filter-choice li.kombox-filter-choice-item-name {
    border-radius: 5px 0 0 5px;
	padding: 5px 15px 5px 15px;
	color: #000;
    font-weight: bold;
}

.kombox-filter-choice li:hover{
	border-color: #fbdada;
	text-decoration:none;
}

.kombox-filter-choice li a, .kombox-filter-choice li a:hover{
	text-decoration:none;
	color: #3f454b;
}

.kombox-filter-choice li.kombox-filter-choice-item-name:hover {
    border-color: #e7e7e7;
}

.kombox-filter-choice li .kombox-remove-link span{
	background: #ffffff url("images/remove_link.png") no-repeat 0 0;
	height: 8px;
	margin-left: 8px;
	position: absolute;
	right: 8px;
	top: 9px;
	width: 8px;
}

.kombox-filter-choice li .kombox-remove-link span{
	display: inline-block;
}

.kombox-filter-choice li:hover .kombox-remove-link span{
	background-position: 0 100%;
}

.kombox-filter-choice-count {
    float: left;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    color: #000;
    padding: 5px 25px 5px 15px;
    position: relative;
    text-decoration: none;
    background: rgba(255, 234, 148, 0.42);
}

#kombox-filter .irs {
    position: relative; display: block;
}
#kombox-filter .irs-line {
	position: relative; display: block;
	overflow: hidden;
}
#kombox-filter .irs-line-left, #kombox-filter .irs-line-mid, #kombox-filter .irs-line-right {
	position: absolute; display: block;
	top: 0;
}
#kombox-filter .irs-line-left {
	left: 0; width: 0%;
}
#kombox-filter .irs-line-mid {
	left: 10%;
}
#kombox-filter .irs-line-right {
	right: 0; width: 0%;
}

#kombox-filter .irs-diapason, #kombox-filter .irs-diapason-left, #kombox-filter .irs-diapason-right {
	position: absolute; display: block;
	left: 0; width: 100%;
}
#kombox-filter .irs-slider {
	position: absolute; display: block;
	cursor: default;
	z-index: 1;
}
#kombox-filter .irs-slider.single {
	left: 10px;
}
#kombox-filter .irs-slider.single:before {
	position: absolute; display: block; content: "";
	top: -50%; left: -100%;
	width: 300%; height: 200%;
	background: rgba(0,0,0,0.0);
}
#kombox-filter .irs-slider.from {
	left: 100px;
}
#kombox-filter .irs-slider.from:before {
	position: absolute; display: block; content: "";
	top: -50%; left: -200%;
	width: 300%; height: 200%;
	background: rgba(0,0,0,0.0);
}
#kombox-filter .irs-slider.to {
	left: 300px;
}
#kombox-filter .irs-slider.to:before {
	position: absolute; display: block; content: "";
	top: -50%; left: 0;
	width: 300%; height: 200%;
	background: rgba(0,0,0,0.0);
}
#kombox-filter .irs-slider.last {
	z-index: 2;
}

#kombox-filter .irs-min {
	position: absolute; display: block;
	left: 0;
	cursor: default;
}
#kombox-filter .irs-max {
	position: absolute; display: block;
	right: 0;
	cursor: default;
}

#kombox-filter .irs-from, #kombox-filter .irs-to, #kombox-filter .irs-single {
	position: absolute; display: block;
	bottom: 0; left: 0;
	cursor: default;
	white-space: nowrap;
	margin-bottom:-17px;
}

#kombox-filter .irs-from {
	margin-left:-7px;
}

#kombox-filter .irs-to {
	margin-left:10px;
}


#kombox-filter .irs-grid {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 20px;
}
#kombox-filter .irs-with-grid #kombox-filter .irs-grid {
    display: block;
}
#kombox-filter .irs-grid-pol {
	position: absolute;
	bottom: 0; left: 0;
	width: 1px; height: 8px;
	background: #000;
}
#kombox-filter .irs-grid-pol.small {
	height: 4px;
}
#kombox-filter .irs-grid-text {
	position: absolute;
	top: 0; left: 0;
	width: 100px;
	white-space: nowrap;
	text-align: center;
	font-size: 9px; line-height: 9px;
	color: #000;
}

#kombox-filter .irs-line-mid,
#kombox-filter .irs-line,
#kombox-filter .irs-diapason-left,
#kombox-filter .irs-diapason-right,
#kombox-filter .irs-slider {
    background: url(images/slider.png) repeat-x;
}

#kombox-filter .irs {
    height: 40px;
}
#kombox-filter .irs-with-grid {
    margin-top: 10px;
}
#kombox-filter .irs-line {
    height: 8px; top: 25px;
	 background-position: 0 0;
}
    #kombox-filter .irs-line-left {
        height: 8px;
        background-position: 0 -30px;
    }
    #kombox-filter .irs-line-mid {
        height: 6px;
        background-position: left bottom;
    }
    #kombox-filter .irs-line-right {
        height: 8px;
        background-position: 100% -30px;
    }

#kombox-filter .irs-diapason, #kombox-filter .irs-diapason-left, #kombox-filter .irs-diapason-right {
    height: 8px; top: 25px;
    background-position: 0 -60px;
}

#kombox-filter .irs-diapason{
	background:none;
}

#kombox-filter .irs-slider {
    width: 22px; height: 22px;
    top: 17px;
    background-position: 0 -90px;
}

#kombox-filter .irs-min, #kombox-filter .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}
.lt-ie9 #kombox-filter .irs-min, .lt-ie9 #kombox-filter .irs-max {
    background: #ccc;
}

#kombox-filter .irs-from, #kombox-filter .irs-to, #kombox-filter .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
	display:none !important;
}
.lt-ie9 #kombox-filter .irs-from, .lt-ie9 #kombox-filter .irs-to, .lt-ie9 #kombox-filter .irs-single {
    background: #999;
}

#kombox-filter .irs-grid-pol {
    background: #99a4ac;
}
#kombox-filter .irs-grid-text {
    color: #99a4ac;
}

#kombox-filter .irs-slider.from {
	background-position:-4px -75px;
	width: 13px;
	height: 28px;
	margin-left: -6px;
}

#kombox-filter .irs-slider.to {
	background-position:-4px -75px;
	width: 13px;
	height: 28px;
	margin-left: -7px;
}

#irs-active-slider, #kombox-filter .irs-slider:hover {
    background-position: -4px -105px;
}

#mouse_loading_icon{
	position:absolute;
	top:-20px;
	left:-20px;
	display:inline-block;
	width:43px;
	height:11px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	z-index:11000;
}
#mouse_loading_icon img{
	width:70px;
	height:70px;
	margin-top:-35px;
}

a.kombox-del-filter:hover{text-decoration: none!important;}
a.kombox-del-filter.disabled{
	display:none;
}

#kombox-filter input[type="checkbox"]:not(checked), #smartFilter input[type="radio"]:not(checked) {
    position: absolute;
    opacity: 0;
}
#kombox-filter input[type="checkbox"]:not(checked) + label, #smartFilter input[type="radio"]:not(checked) + label {
    position: relative;
    padding-left: 28px;
}
#kombox-filter input[type="checkbox"] + label, #kombox-filter input[type="radio"] + label {
    cursor: pointer;
}
#kombox-filter .radio label, #kombox-filter .checkbox label {
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
#kombox-filter input[type="checkbox"]:not(checked) + label:before, #kombox-filter input[type="radio"]:not(checked) + label:before {
    position: absolute;
    content: " ";
    height: 17px;
    width: 17px;
    left: 0;
    top: 0px;
}
#kombox-filter input[type="checkbox"] + label:before {
    background: url(/bitrix/templates/dresscode/components/bitrix/catalog.smart.filter/.default/images/checkBox.png) 0 0 no-repeat transparent;
}
#kombox-filter input[type="checkbox"]:checked + label:before, #kombox-filter input[type="radio"]:checked + label:before {
    background-position: 0 -34px;
}
#set_filter {
	text-decoration: none;
	border: none;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    padding: 11px 30px;
	margin: 0 16px;
    display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	-webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.kombox-del-filter {
	text-decoration: none;
	border: none;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
	background: #000;
	cursor: pointer;
	background-color: #2b2b2b;
	-webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.kombox-del-filter:hover{
	background: #000;
}
.kombox-filter-property-body[data-name="cml2_available"],
.kombox-filter-property-body[data-name="khit"],
.kombox-filter-property-body[data-name="rasprodazha"]
{
	display:block!important;
}

/*Override*/
#kombox-filter .irs-grid {
	display: none;
}
#kombox-filter .irs-line {
	background: none;
	top: 15px;
}
#kombox-filter .irs-line-mid {
	border-radius: 4px;
	background: #F9F9F9;
	height: 8px;
	left: 0 !important;
	width: 100% !important;
}
#kombox-filter .irs-diapason {
	background: #000;
	height: 8px;
	top: 15px;
}
#kombox-filter .irs-slider.to,
#kombox-filter .irs-slider.from {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #000;
	cursor: pointer;
	margin-left: -12px;
	top: 7px;
}
#kombox-filter .kombox-num .kombox-input {
	width: 100%;
	height: 48px;
	background: #F9F9F9;
	border-radius: 4px;
	padding: 20px 16px 2px;
	box-sizing: border-box;
	font-size: 16px;
	border: 0;
}
.twpx-num-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	padding-right: 10px;
}
.twpx-num-item {
	position: relative;
}
.twpx-num-item span {
	position: absolute;
	top: 6px;
	left: 16px;
	text-transform: capitalize;
	font-size: 12px;
	z-index: 10;
}
#kombox-filter .irs-with-grid {
	margin-top: 0;
}
#kombox-filter .irs {
	height: 30px;
}
