#slr2PhoneElem,
#slr2PhoneElem * {
  box-sizing: border-box;
}
#slr2PhoneElem {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: -1;
}
#slr2PhoneElem a {
  color: #000;
  text-decoration-line: underline;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#slr2PhoneElem a:hover {
  opacity: 0.7;
}
#slr2PhoneElem.slr2-phone--show {
  pointer-events: auto;
  opacity: 1;
  z-index: 10000;
}
#slr2PhoneElem .slr2-phone-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffffcc;
  z-index: 10;
}
#slr2PhoneElem .slr2-phone-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 750px;
  padding: var(--twpx-block-gap-m, 16px);
  align-items: center;
  gap: var(--twpx-block-gap-m, 16px);
  border-radius: var(--twpx-button-border-radius-l, 16px);
  background: var(--base-background-default, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.slr2-phone-img {
  border-radius: 8px;
}
.slr2-phone-text {
  padding: 24px;
  border-radius: var(--twpx-button-border-radius-m, 8px);
  background: #fafafa;
  font-family: Roboto, arial, sans-serif;
  height: 100%;
}
.slr2-phone-clear {
  position: absolute;
  top: calc(16px + 24px);
  right: calc(16px + 24px);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 10;
}
.slr2-phone-clear:hover {
  opacity: 0.7;
}
.slr2-phone-logo {
  width: 130px;
  margin: 48px auto 32px;
  display: block;
}
.slr2-phone-tel-main {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-family: Roboto, arial, sans-serif;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
.slr2-phone-store-name {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.slr2-phone-tel {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
#slr2PhoneElem .slr2-phone-tel-main a,
#slr2PhoneElem .slr2-phone-tel a {
  text-decoration-line: none;
  text-decoration: none;
  pointer-events: none;
  cursor: text;
}
.slr2-phone-form {
  padding-top: 24px;
  display: grid;
  gap: 8px;
  margin-bottom: 8px;
}
.slr2-phone-form__title {
  color: #000;
  text-align: center;
  font-family: Roboto, arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
}
.slr2-phone-form__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--twpx-block-gap-s, 8px);
  align-self: stretch;
}
.slr2-phone-consent {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

/* label */
.slr2-phone-form__control {
  position: relative;
  width: 66%;
}
.slr2-phone-form__label {
  position: absolute;
  top: 18px;
  left: 16px;
  margin: 0;
  padding: 0;
  color: var(--twpx-input-text-default, #3b3b3b);
  font-size: 12px;
  font-family: Roboto, arial, sans-serif;
  -webkit-transition: top 0.2s ease-out, -webkit-font-size 0.2s ease-out;
  transition: top 0.2s ease-out, font-size 0.2s ease-out;
  pointer-events: none;
  line-height: 1.1;
}
.slr2-phone-form__control.slr2-phone-form__control--active
  .slr2-phone-form__label {
  top: 8px;
}
.slr2-phone-form__control.slr2-phone-form__control--invalid
  .slr2-phone-form__label {
  color: #ff0000;
}
.slr2-phone-form__control.slr2-phone-form__control--disabled
  .slr2-phone-form__label {
  color: #cccccc;
}
.slr2-phone-form__input {
  height: 48px;
  width: 100%;
  padding: 20px 16px 6px;
  border-radius: 4px;
  border: 1px solid var(--twpx-input-border-default, #e2e2e2);
  background: var(--twpx-input-color-default, #f9f9f9);
  color: var(--twpx-input-text-default, #3b3b3b);
  font-size: 16px;
  font-family: Roboto, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
}
.slr2-phone-form__control .slr2-phone-form__input:focus,
.slr2-phone-form__control .slr2-phone-form__input:hover {
  outline: none !important;
}
.slr2-phone-form__control.slr2-phone-form__control--invalid
  .slr2-phone-form__input {
  background-color: #fff !important;
  border-color: #ff0000 !important;
  outline: none !important;
  color: #ff0000 !important;
}
.slr2-phone-form__clear {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.slr2-phone-form__control--clearable .slr2-phone-form__clear {
  opacity: 1;
  pointer-events: auto;
}
.slr2-phone-form__control--clearable .slr2-phone-form__clear:hover {
  opacity: 0.7;
}
.slr2-phone-form__button {
  display: flex;
  height: 48px;
  width: calc(34% - 8px);
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: var(--twpx-button-border-radius-s, 4px);
  border: none;
  background: var(--base-balck, #000);
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-phone-form__button:hover {
  opacity: 0.7;
}
.slr2-phone-form__button.slr2-phone-form__button--disabled {
  opacity: 0.1;
  pointer-events: none;
  cursor: default;
  user-select: none;
}
.slr2-phone-form__button.slr2-phone-form__button--load-circle {
  position: relative;
  cursor: default;
  pointer-events: none;
}
.slr2-phone-form__button.slr2-phone-form__button--load-circle,
.slr2-phone-form__button.slr2-phone-form__button--load-circle:hover,
.slr2-phone-form__button.slr2-phone-form__button--load-circle:focus,
.slr2-phone-form__button.slr2-phone-form__button--load-circle:active,
.slr2-phone-form__button.slr2-phone-form__button--load-circle:not(
    :disabled
  ):not(.vue-button--disabled).active,
.slr2-phone-form__button.slr2-phone-form__button--load-circle:not(
    :disabled
  ):not(.vue-button--disabled):active,
.slr2-phone-form__button.slr2-phone-form__button--load-circle a {
  color: transparent !important;
}
.slr2-phone-form__button.slr2-phone-form__button--load-circle:after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  top: calc(50% - 12px);
  right: calc(50% - 12px);
  animation: load-circle 1.3s infinite linear;
  border: 2px solid #fff;
  border-radius: 50%;
  border-right-color: transparent;
}

/* Message */
.slr2-phone-form__message-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: grid;
  gap: 8px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
.slr2-phone-form__message {
  display: flex;
  padding: var(--twpx-block-padding-m, 16px);
  align-items: center;
  gap: var(--twpx-block-gap-m, 16px);
  border-radius: var(--twpx-button-border-radius-s, 4px);
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slr2-phone-form__message svg {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.slr2-phone-form__message--success {
  color: #000;
  background: var(--twpx-notification-background-color-success, #aceea8);
}
.slr2-phone-form__message--error {
  color: #fff;
  background: var(--twpx-notification-background-color-error, #f00);
}
.slr2-phone-form__message-button {
  display: flex;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: var(--twpx-button-border-radius-s, 4px);
  background: var(--base-colors-balck, #000);
  color: #fff;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-phone-form__message-button:hover {
  opacity: 0.7;
}
.slr2-phone-form-container {
  position: relative;
}
.slr2-phone-form-container--message .slr2-phone-form {
  visibility: hidden;
}
.slr2-phone-form-container--message .slr2-phone-form__message-container {
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 767px) {
  .slr2-phone-clear {
    display: none;
  }
  #slr2PhoneElem .slr2-phone-popup {
    display: block;
    width: calc(100% - 24px * 2);
    max-width: 750px;
  }
  #slr2PhoneElem .slr2-phone-img {
    display: none;
  }
  .slr2-phone-logo {
    width: 77px;
    margin: 0 auto 16px;
  }
  .slr2-phone-tel-main {
    font-size: 20px;
    margin-bottom: 4px;
  }
  .slr2-phone-store-name {
    margin-bottom: 8px;
  }
  .slr2-phone-tel {
  }
  .slr2-phone-form {
    padding-top: 16px;
  }
  .slr2-phone-form__title {
  }
  .slr2-phone-form__content {
    display: grid;
    gap: var(--twpx-block-gap-s, 8px);
    justify-content: normal;
  }
  .slr2-phone-form__control {
    width: 100%;
  }
  .slr2-phone-form__button {
    width: 100%;
  }
  .slr2-phone-consent {
    font-size: 12px;
  }
  #slr2PhoneElem .slr2-phone-tel-main a,
  #slr2PhoneElem .slr2-phone-tel a {
    pointer-events: auto;
  }
}
@-webkit-keyframes load-circle {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@keyframes load-circle {
  0% {
    transform: rotate(0);
    -webkit-transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
