/* Basic */
:root {
  --slr2-color-primary: #000;
  --slr2-color-secondary: #000;
  --slr2-color-tertiary: #fff;

  --slr2-background-color: var(--slr2-color-tertiary);
  --slr2-text-color: var(--slr2-color-secondary);
  --slr2-link-color: var(--slr2-color-primary);
}
.slr2-header1 {
  --slr2-header1-background-color: var(--slr2-color-primary);
  --slr2-header1-link-color: #fff;
  --slr2-header1-preloader-color: #ffffff33;
  --slr2-header1-preloader-shine: #ffffff88;
  --slr2-header1-basket-count-background: #fff;
  --slr2-header1-basket-count-color: var(--slr2-color-primary);
  --slr2-header1-menu-icon: #fff;
  --slr2-header1-menu-icon-shadow: #ffffff99;
}

/* .slr2-container {
  width: 100%;
  max-width: var(--slr2-content-width);
  margin: 0 auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .slr2-container {
    padding: 0 32px;
  }
} */

.slr2-btn {
  /* button-fill заливка */
  background-color: var(--slr2-color-primary);
  /* button-fill контур */
  background-color: transparent;
  border: 2px solid var(--slr2-color-primary);

  font-weight: var(--slr2-button-text);
  border-radius: var(--slr2-button-radius);
}

/*элементы вызова компонентов*/
[data-slr2toggle] {
  pointer-events: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.slr2--component-loaded[data-slr2toggle] {
  pointer-events: auto;
  opacity: 1;
}

/*slide toggle effect*/
.slr2-slide-toggle {
  display: block;
  opacity: 1;
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  overflow: hidden;
}
.slr2-slide-toggle:not(.slr2-slide-toggle--show) {
  opacity: 0;
  display: none;
}
.slr2-slide-toggle.slr2-slide-toggle--show {
  display: block !important;
}

/*body no scroll*/
body.slr2-body--no-scroll {
  overflow: hidden;
}

/*progress*/
.slr2-progress .slr2-progress-indeterminate {
  background-color: var(--slr2-color-primary);
}

.slr2-progress .slr2-progress-indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: slr2-indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
}

.slr2-progress .slr2-progress-indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: slr2-indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation-delay: 1.15s;
}

@keyframes slr2-indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes slr2-indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

/* Header */
.slr2-header1,
.slr2-header1 * {
  box-sizing: border-box;
}
.slr2-header1 {
  background-color: var(--slr2-header1-background-color);
  height: 64px;
  padding: var(--twpx-block-padding-m, 16px) 0;
}
.slr2-header1 a {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.slr2-header1 a:hover {
  opacity: .7;
}
.slr2-header1 a,
.slr2-header1 a:hover {
  text-decoration: none;
}
.slr2-header1 .slr2-container {
  height: 100%;
}
.slr2-header1__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.slr2-header1__left {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.slr2-header1__left .slr2-header1__menu-icon {
  flex-shrink: 0;
}
.slr2-header1__logo {
  display: block;
  width: 77px;
  max-width: 77px;
  max-height: 32px;
  flex-shrink: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-header1__logo:hover {
  opacity: 0.7;
}
.slr2-header1__logo img {
  display: block;
}
.slr2-header1__menu {
  display: none;
  width: 100%;
}
.slr2-header1__menu menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  overflow: hidden;
  height: 32px;
  margin: 0;
  padding: 0;
}
.slr2-header1__menu-item {
  font-family: Roboto, roboto_ltregular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-header1__menu-item.slr2--show {
  position: relative;
}
.slr2-header1__menu-item.slr2--show::before {
  content: '';
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 19px;
  background-color: #FFE100;
  z-index: 10;
}
a.slr2-header1__menu-item {
  text-decoration: none;
}
a.slr2-header1__menu-item:hover {
  opacity: 0.7;
}
.slr2-header1__menu-item--visible {
  visibility: visible;
}
.slr2-header1__menu-item--hidden {
  display: none;
}
.slr2-header1__menu a.slr2-header1__menu-item--active {
  color: var(--base-blue, #3498DB) !important;
}
.slr2-header1__menu a,
.slr2-header1__menu a:hover,
.slr2-header1__menu a:visited {
  color: var(--slr2-header1-link-color);
}
.slr2-header1__menu-item a img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.slr2-header1__menu a.slr2-menu-item--special,
.slr2-header1__menu a.slr2-menu-item--special:hover,
.slr2-header1__menu a.slr2-menu-item--special:visited,
.slr2-header1__menu a.slr2-menu-item--special:active,
.slr2-header1__menu a.slr2-header1__menu-item--active.slr2-menu-item--special,
.slr2-header1__menu a.slr2-header1__menu-item--active.slr2-menu-item--special:hover,
.slr2-header1__menu a.slr2-header1__menu-item--active.slr2-menu-item--special:visited,
.slr2-header1__menu a.slr2-header1__menu-item--active.slr2-menu-item--special:active {
  color: var(--base-colors-yellow, #FFE100) !important;
}
/*Icons*/
.slr2-header1__icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.slr2-header1__menu-icon,
.slr2-header1__mobile-menu-icon,
.slr2-header1__profile-icon,
.slr2-header1__favorite-icon,
.slr2-header1__stores-icon,
.slr2-header1__basket-icon,
.slr2-header1__phone-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-header1__profile-icon.slr2--show {
  position: relative;
}
.slr2-header1__profile-icon.slr2--show::before {
  content: '';
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 33px;
  z-index: 10;
}
.slr2-header1__search-icon {
  opacity: 0;
}
.slr2-header1__search-icon.slr2--component-loaded {
  display: flex;
  width: 128px;
  padding: 7px;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--base-grey, #888);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.slr2-header1__profile-icon,
.slr2-header1__favorite-icon,
.slr2-header1__stores-icon {
  display: none;
}
.slr2-header1__menu-icon:hover,
.slr2-header1__mobile-menu-icon:hover,
.slr2-header1__profile-icon:hover,
.slr2-header1__favorite-icon:hover,
.slr2-header1__stores-icon:hover,
.slr2-header1__basket-icon:hover,
.slr2-header1__search-icon:hover,
.slr2-header1__phone-icon:hover {
  opacity: 0.7;
}
.slr2-header1__menu-icon img,
.slr2-header1__mobile-menu-icon img,
.slr2-header1__profile-icon img,
.slr2-header1__favorite-icon img,
.slr2-header1__stores-icon img,
.slr2-header1__basket-icon img,
.slr2-header1__phone-icon img {
  width: 24px;
  height: 24px;
}
.slr2-header1__search-icon img {
  width: 22px;
  height: 22px;
}

.slr2-header1__basket-icon,
.slr2-header1__favorite-icon {
  position: relative;
}
.slr2-header1__basket-icon span,
.slr2-header1__favorite-icon span {
  position: absolute;
  top: -2px;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  background-color: #FFE100;
  border-radius: 6px;
  padding: 2px;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--slr2-header1-basket-count-color);
  font-family: Roboto, roboto_ltregular, arial, sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 8px;
  height: 12px;
  min-width: 12px;
  z-index: 1;
}
.slr2-header1__basket-icon.slr2-header1__basket-full span,
.slr2-header1__favorite-icon.slr2-header1__favorite-full span {
  display: flex;
}

.slr2-header1__favorite-icon {
  order: 1;
}
.slr2-header1__basket-icon {
  order: 2;
}
.slr2-header1__phone-icon {
  order: 3;
}

.slr2-header1__menu-icon[data-slr2toggle]:not(.slr2--component-loaded),
.slr2-header1__mobile-menu-icon[data-slr2toggle]:not(.slr2--component-loaded),
.slr2-header1__profile-icon[data-slr2toggle]:not(.slr2--component-loaded),
.slr2-header1__basket-icon[data-slr2toggle]:not(.slr2--component-loaded),
.slr2-header1__search-icon[data-slr2toggle]:not(.slr2--component-loaded),
.slr2-header1__phone-icon[data-slr2toggle]:not(.slr2--component-loaded) {
  background-color: var(--slr2-header1-preloader-color);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: default;
  background: linear-gradient(
    45deg,
    var(--slr2-header1-preloader-color),
    var(--slr2-header1-preloader-shine),
    var(--slr2-header1-preloader-color)
  );
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  opacity: 1;
}
.slr2-header1__menu-item[data-slr2toggle]:not(.slr2--component-loaded) {
  cursor: default;
  pointer-events: none;
  opacity: 1;
}
.slr2-header1__menu-icon[data-slr2toggle]:not(.slr2--component-loaded):hover,
.slr2-header1__mobile-menu-icon[data-slr2toggle]:not(
    .slr2--component-loaded
  ):hover,
.slr2-header1__profile-icon[data-slr2toggle]:not(.slr2--component-loaded):hover,
.slr2-header1__basket-icon[data-slr2toggle]:not(.slr2--component-loaded):hover,
.slr2-header1__search-icon[data-slr2toggle]:not(.slr2--component-loaded):hover,
.slr2-header1__phone-icon[data-slr2toggle]:not(.slr2--component-loaded):hover {
  opacity: 1;
}
.slr2-header1__menu-icon[data-slr2toggle]:not(.slr2--component-loaded) img,
.slr2-header1__mobile-menu-icon[data-slr2toggle]:not(.slr2--component-loaded)
  img,
.slr2-header1__profile-icon[data-slr2toggle]:not(.slr2--component-loaded) img,
.slr2-header1__basket-icon[data-slr2toggle]:not(.slr2--component-loaded) img,
.slr2-header1__search-icon[data-slr2toggle]:not(.slr2--component-loaded) img,
.slr2-header1__phone-icon[data-slr2toggle]:not(.slr2--component-loaded) img {
  display: none !important;
}

@media (min-width: 1200px) {
  .slr2-header1 {
    height: 70px;
    padding: var(--twpx-block-padding-m, 16px) 0;
  }
  .slr2-header1__menu,
  .slr2-header1__favorite-icon,
  .slr2-header1__stores-icon {
    display: flex;
  }
  .slr2-header1__mobile-menu-icon {
    display: none;
  }
  .slr2-header1__search-icon,
  .slr2-header1__search-icon.slr2--component-loaded {
    order: 1;
    display: flex;
  }
  .slr2-header1__stores-icon {
    order: 2;
  }
  .slr2-header1__phone-icon {
    order: 3;
  }
  .slr2-header1__favorite-icon {
    order: 4;
  }
  .slr2-header1__basket-icon {
    order: 5;
  }
  .slr2-header1__profile-icon {
    order: 6;
    display: flex;
  }
  .slr2-header1__icons {
    gap: 24px;
  }
  .slr2-header1__left {
    gap: 24px;
  }
}

@media (min-width: 576px) {
  .slr2-header1 {
    height: 70px;
    padding: var(--twpx-block-padding-m, 16px) 0;
  }
  .slr2-header1__search-icon,
  .slr2-header1__search-icon.slr2--component-loaded {
    order: 1;
    display: flex;
  }
  .slr2-header1__stores-icon {
    order: 2;
  }
  .slr2-header1__phone-icon {
    order: 3;
  }
  .slr2-header1__favorite-icon {
    order: 4;
  }
  .slr2-header1__basket-icon {
    order: 5;
  }
  .slr2-header1__profile-icon {
    order: 6;
    display: flex;
  }
  .slr2-header1__icons {
    gap: 24px;
  }
  .slr2-header1__left {
    gap: 24px;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
