<link rel="stylesheet" href="./components/catalog-menu/style.css" />

<div class="slr2-container">
  <div class="slr2-catalog-menu-grid-container">
    <div class="slr2-catalog-menu-grid-item">
        <a href="" class="slr2-catalog-menu-button">Весь каталог</a>
    </div>
    <div class="slr2-catalog-menu-grid-item">
      <a href="#">Платья</a>
      <a href="#">Платья</a>
      <a href="#">Платья</a>
      <a href="#">Юбки</a>
      <span></span>
      <a href="#">Топы</a>
      <a href="#">Кардиганы</a>
      <a href="#">Блузы</a>
      <a href="#">Жакеты</a>
      <span></span>
      <a href="#">Леггинсы</a>
      <a href="#">Пальто</a>
    </div>
    <div class="slr2-catalog-menu-grid-item">
      <a href="#">Шорты</a>
      <a href="#">Толстовки</a><a href="#">Футболки</a><a href="#">Джинсы</a
      ><a href="#">Куртки</a><a href="#">Свитера</a>
      <a href="#">Школьная форма</a>
      <a href="#">Рубашки</a>
      <span></span>
      <a href="#">Спортивные костюмы</a>
    </div>
    <div class="slr2-catalog-menu-grid-item">
      <a href="#">Леггинсы</a><a href="#">Кардиганы</a><a href="#">Платья</a
      ><a href="#">Юбки</a><a href="#">Блузы</a><a href="#">Туники</a>
      <a href="#">Школьная форма</a>
      <a href="#">Рубашки</a>
      <a href="#">Спортивные костюмы</a>
    </div>
    <div class="slr2-catalog-menu-grid-item">
      <a href="#">Часы</a><a href="#">Ремни</a><a href="#">Галстуки</a
      ><a href="#">Кошельки</a><a href="#">Шарфы</a><a href="#">Перчатки</a
      ><a href="#">Очки</a>
      <a href="#">Рубашки</a>
      <a href="#">Спортивные костюмы</a>
    </div>
    <div class="slr2-catalog-menu-grid-item">
      <a href="#">Сумки</a><a href="#">Шарфы</a><a href="#">Украшения</a
      ><a href="#">Пояса</a><a href="#">Часы</a><a href="#">Кошельки</a
      ><a href="#">Шляпы</a>
      <a href="#">Рубашки</a>
      <a href="#">Спортивные костюмы</a>
    </div>
  </div>
</div>
