#slr2CatalogMenuElem,
#slr2CatalogMenuElem * {
  box-sizing: border-box;
}
#slr2CatalogMenuElem a {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#slr2CatalogMenuElem a:hover {
  opacity: 0.7;
}
#slr2CatalogMenuElem.slr2-catalog-menu--show {
  position: static;
  pointer-events: auto;
  opacity: 1;
  z-index: 10000;
}
#slr2CatalogMenuElem .slr2-catalog-menu__wrapper {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 80px);
  height: 0;
  overflow: auto;
  background: var(--slr2-color-primary);
  color: #fff;
  font-family: Roboto, arial, sans-serif;
  z-index: 1000;
}
/* Scrollbar styles */
#slr2CatalogMenuElem .slr2-catalog-menu__wrapper::-webkit-scrollbar {
  width: 8px;
}

#slr2CatalogMenuElem .slr2-catalog-menu__wrapper::-webkit-scrollbar-track {
  background: var(--slr2-color-primary);
  border-radius: 4px;
}

#slr2CatalogMenuElem .slr2-catalog-menu__wrapper::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

#slr2CatalogMenuElem .slr2-catalog-menu__wrapper::-webkit-scrollbar-thumb:hover {
  background: #444;
}
.slr2-catalog-menu-grid-container {
  padding: var(--twpx-block-padding-xl, 32px) 0;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  align-items: flex-start;
}
.slr2-catalog-menu-content[data-slr2type='submenu_additional'] .slr2-catalog-menu-grid-container {
  grid-template-columns: repeat(3, 1fr);
}
.slr2-catalog-menu-grid-item {
  display: grid;
  align-items: start;
}
.slr2-catalog-menu-grid-sub {
  padding-left: 16px;
  margin-bottom: 15px;
}
.slr2-catalog-menu-h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}
.slr2-catalog-menu-grid-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #fff;
  font-size: 16px;
  margin: 4px 0;
  text-decoration: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.slr2-catalog-menu-grid-item a:hover,
.slr2-catalog-menu-grid-item a:focus {
  color: #fff;
  opacity: 0.7;
}
.slr2-catalog-menu-grid-item a:last-child {
  margin-bottom: 0;
}
.slr2-catalog-menu-grid-item span {
  display: block;
  height: 24px;
}
.slr2-catalog-menu-grid-item a img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.slr2-catalog-menu-grid-item a.slr2-menu-item--special,
.slr2-catalog-menu-grid-item a.slr2-menu-item--special:hover,
.slr2-catalog-menu-grid-item a.slr2-menu-item--special:visited,
.slr2-catalog-menu-grid-item a.slr2-menu-item--special:active {
  color: var(--base-colors-yellow, #ffe100);
}

#sellerHeader_1 .bj-page-header__dropdown article strong {
  font-size: 0.9rem;
}

#slr2CatalogMenuElem .slr2-catalog-menu-grid-item a {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  opacity: 0;
}

#slr2CatalogMenuElem .slr2-slide-toggle {
  -webkit-transition: unset;
  transition: unset;
}

#slr2CatalogMenuElem .slr2-catalog-menu-content {
  display: none;
}
#slr2CatalogMenuElem .slr2-catalog-menu-content.slr2-content--show {
  display: block;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}
#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:hover {
  opacity: 0.7;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(1) {
  transition-delay: 0.03s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(2) {
  transition-delay: 0.06s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(3) {
  transition-delay: 0.09s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(4) {
  transition-delay: 0.12s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(5) {
  transition-delay: 0.15s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(6) {
  transition-delay: 0.18s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(7) {
  transition-delay: 0.21s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(8) {
  transition-delay: 0.24s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(9) {
  transition-delay: 0.27s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(10) {
  transition-delay: 0.3s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(11) {
  transition-delay: 0.33s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(12) {
  transition-delay: 0.36s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(13) {
  transition-delay: 0.39s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(14) {
  transition-delay: 0.42s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(15) {
  transition-delay: 0.45s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(16) {
  transition-delay: 0.48s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(17) {
  transition-delay: 0.51s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(18) {
  transition-delay: 0.54s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(19) {
  transition-delay: 0.57s;
}

#slr2CatalogMenuElem
  .slr2-content--animate
  .slr2-catalog-menu-grid-item
  a:nth-of-type(20) {
  transition-delay: 0.6s;
}

/*Services*/
.slr2-catalog-menu-service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: var(--twpx-block-padding-xl, 32px) 0;
  align-items: flex-start;
  gap: var(--base-size-l, 24px);
}
a.slr2-catalog-menu-service-item {
  text-decoration: none;
  display: grid;
  gap: var(--base-gap-m, 16px);
}
.slr2-catalog-menu-service-img {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
}
a.slr2-catalog-menu-service-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
  z-index: 10;
}
a.slr2-catalog-menu-service-item .slr2-catalog-menu-service-text {
  color: #fff;

  /* default */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.slr2-catalog-menu-grid-item a.slr2-catalog-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slr2-catalog-menu-button {
  color: var(--twpx-button-text-default, #fff);
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 100% */
  display: flex;
  width: 100%;
  max-width: 150px;
  height: 48px;
  min-height: var(--twpx-block-gap-xxl, 48px);
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: var(--twpx-button-border-radius-s, 4px);
  border: 1px solid var(--twpx-button-border-color-white, #fff);
}

/* Menu collapse */
.menu-collapse {
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -15px;
}
.menu-collapse.menu-collapse--visible {
  overflow: visible;
}
.menu-collapse.menu-collapse--ready {
  opacity: 1;
}
.menu-collapse.menu-collapse--no-more .menu-collapse__more {
  display: none;
}
.menu-collapse__item {
}
.menu-collapse__more {
  position: relative;
  margin-left: -8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.menu-collapse__more::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 8px 0 #fff, 0 -8px 0 #fff;
}
.menu-collapse__sub {
  position: absolute;
  top: 50px;
  right: -15px;
  display: grid;
  gap: 18px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding: 32px;
  text-align: center;
  min-width: 230px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  transition: opacity 0.5s ease-out;
  z-index: -1;
}
.menu-collapse__sub .menu-collapse__item {
  text-align: left;
  align-items: flex-start;
  white-space: normal;
  height: auto;
}
.menu-collapse__more--show .menu-collapse__sub {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
}
